<section class= 'user-details'>
	<%= render 'shared/user/user'%>

	<div class='user-bio'>
		<h3> Bio </h3>
		<p><%= @user.bio %></p>
	</div>

<div class='all-posts'>
		<% @user.recent_posts.each do |post| %>
		<div class='post-card'>
			<h3 class='post-title'><%= link_to post.title, user_post_path(@user.id, post) %></h3>
			<p><%= post.text %></p>
			<div class='likes-comments'>
				<p>Comments: <%= post.comments_counter%> </p>
				<p>Likes: <%= post.likes_counter%> </p>
			</div>
		</div>
		<% end %>
	</div>
	<% unless @user.recent_posts.empty? %>
    <button class='see-all-button'><%=link_to 'See all posts', user_posts_path(@user)%></button>
  <% end %>
</section>